@{
    var formId = ViewData["formId"];
}

<div>
    <a href="/forms/view/@formId"><button type="button" class="btn btn-success">Xem lại khảo sát</button></a>
    <a href="/forms/statistical/@formId"><button type="button" class="btn btn-info">Xem thống kê</button></a>
</div>