@{
    ViewData["Title"] = "Home Page";
    var forms = ViewData["forms"] as List<FormModel>;
}

<partial name="_AlertMessage" />

<div>
    @foreach (var f in forms)
    {
        <div>
            <p>@f.Title</p>
        </div>
    }
</div>
